html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    background-color: #e5c293;
    color: #393E41;
    margin: 0 auto;
    min-width: 27em;
    max-width: 159em;
    font-size: 1.2em;
    padding: 0;
    overflow-x: hidden;
}

#h1Main {
    margin: 1em auto .5em;
    font-size: 2em;
    letter-spacing: .08em;
}

/*-------------nav styles-------------*/
.navMenu {
    background-color: #e5c293;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
header nav a {
    width: 9em;
    font-weight: bold;
    display: inline-block;
    border: .22em solid #795548;
    border-radius: 5em;
    background-color: #F8B45C;
    margin: .5em .6em .5em;
    padding: .3em;
}

.navMenu li{
    display: inline;
}

ul {
    list-style-type: none;
    padding: 0;
}

/*-------------End nav styles-------------*/

/*-------------link styles-------------*/
a:link {
    color: #795548;
    text-decoration: none;
}

a:visited {
    color: #795548;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #393E41;
}

header nav a:hover {
    color: #B94527;
    border: .22em solid #B94527;
    text-decoration: none;
}

/*-------------End link styles-------------*/

/*-------------section styles-------------*/
.sectionsDiv{
    margin-top: 100px;
}

.section {
    min-width: 100vw;
    margin: 20em 0;
    padding: 0 5em;
    box-sizing: border-box;
    text-align: center;
    background-color: #f5f5f5;
    scroll-margin-top: 20em;
}

.section h1 {
    font-size: 2em;
}

/*-------------End section styles-------------*/

/*-------------footer styles-------------*/
footer nav hr {
    margin: 2em 5em;
    border: .15em solid #795548;
}

footer{
    text-align: center;
}

footer a {
    padding-right: 2em;
}
/*-------------End footer styles-------------*/
