<footer>
    <hr>
    <nav>

        <a href="https://github.com/gwhitle">Github</a>
        <a href="https://gwhitle.github.io/">Github.io</a>
        <a href="https://gwhitle.github.io/web115">web115.io</a>
        <a href="https://www.freecodecamp.org/gwhitle">Freecodecamp</a>
        <a href="https://www.codecademy.com/profiles/gwhitle">Codeacademy</a>
        <a href="https://jsfiddle.net/user/gwhitle/fiddles/">JSFiddle</a>
        <a href="https://www.linkedin.com/in/g-whitley-46863828a/">LinkedIn</a>
        <br>
        Page Designed by WhitsGits
        <hr>
        <a href="http://validator.w3.org/check?uri=referer" id="validation_link_html" target="_blank"><img
                src="images/html_validation_button.gif" alt="html validation"></a>
        <a href=href="http://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css" target="_blank"><img
                src="images/validation_button_css_rectangle_blue.gif" alt="css validator"></a>
    </nav>
</footer>