/*----Basic Styles----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0em 6.25em;
    color: #eee9e4;
    background-color: #6F5E53;
    letter-spacing: 0.05em;
}

h1,
h2,
h3 {

    font-family: 'Junge';
    font-size: 2.2em;
    color: #D1B2EA;
}

p {
    font-family: garamond;
    font-size: 1.25em;
}

h1,
h2,
h3,
p,
#formOutput li {
    padding: .5em 0em;
}

#iconLogo {
    vertical-align: middle;
    margin-right: 1em;
}

hr {
    background-color: #FFC402;
    border: #FFC402 solid .1em;
    margin-top: .4em;
}

.darkText {
    color: #59493E;
}

/*----End Basic Styles----*/

/*----Nav Styles | Header and Footer----*/
nav {
    display: flex;
    flex-wrap: wrap;
    border: #FFC402 solid .15em;
    border-radius: 1.55em;
    padding: 1em;
}

nav a {
    font-size: 1.28em;
}

header p {
    margin-top: -3em;
    margin-bottom: 1em;
    text-align: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;
}

footer nav {
    display: flex;
    justify-content: center;
}

footer nav a {
    margin: 0.25em 1em;
}

footer nav p {
    width: 100%;
    padding: .3em;
    text-align: center;
}

/*----End Nav Styles | Header and Footer----*/

/*----Link Styles----*/
a {
    color: #EEE9E4;
    text-underline-offset: .2em;
}

a:visited {
    color: #EEE9E4;
}

a:hover {
    color: #FFEC44;
    text-shadow: 0.1em.1em #430F25;
    /* color:#fd0d71;*/
}

/*----End Link Styles----*/

/*----Introduction Styles----*/
ul li ul li {
    margin-left: 2em;
}

figure,
#pictureContainer img,
#pictureContainer figcaption {
    float: right;
}

/*----End Introduction Styles----*/

/*----Brand Styles----*/
#brandColors {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#brandColors li {
    width: 10em;
    height: 10em;
    margin: 0.55em;
    border-radius: 50%;
    text-align: center;
    text-transform: capitalize;
    border: #59493E solid .2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery img {
    display: inline-block;
}

#brandColors li:nth-child(1) {
    background-color: #FFEC44;
}

#brandColors li:nth-child(2) {
    background-color: #FFC402;
}

#brandColors li:nth-child(3) {
    background-color: #D1B2EA;
}

#brandColors li:nth-child(4) {
    background-color: #EEE9E4;
}

#brandColors li:nth-child(5) {
    background-color: #6F5E53;
}

#brandColors li:nth-child(6) {
    background-color: #59493E;
}

.exampleText {
    display: inline-block;
    width: 49.77%;
    text-align: center;
    border: #FFC402 solid .2em;
}

.exampleText p {
    display: inline-block;
    width: 50%;
    font-weight: bold;
}

div .exampleText:first-of-type {
    margin-top: 1em;
    background-color: #6F5E53;
}

div .exampleText:nth-of-type(2) {
    background-color: #6F5E53;
    color: #D1B2EA;
}

div .exampleText:nth-of-type(3) {
    background-color: #FFEC44;
}

div .exampleText:nth-of-type(4) {
    background-color: #EEE9E4;
}

/*----Brand Font Examples display----*/
#junge p,
#junge h4 {
    font-family: 'Junge';
    font-size: 1.3em;
}

#garamond p,
#garamond h4 {
    font-family: garamond;
    font-size: 1.4em;
}

/*----End Brand Styles----*/

/*----Introduction Form Styles----*/
form {
    font-size: 1.25em;
}

#formContainer input {
    display: block;
    margin-bottom: .3em;
}

input {
    padding: 0;
    font-size: .8em;
    box-sizing: border-box;
}

#pictureContainer img {
    max-width: 345px;
    max-height: 345px;
    margin: -3em 0em 0em 0em;
}

#pictureContainer figcaption {
    margin: 18em -15.5em 0em 0em;
    font-size: .8em;
}

#formOutput #resetButton {
    margin-top: 20em;
}

#formOutput li {
    font-family: garamond;
}

#resetButton {
    margin-bottom: 1em;
}

/*----End Introduction Form Styles----*/