* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 100px;

    color: #eee9e4;
    background-color: #6F5E53;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}

h1,
h2,
h3 {

    font-family: 'Palatino Linotype';
    font-size: 2.2em;
}

p {
    font-family: garamond;
}

h1,
h2,
h3,
p,
ul {
    padding-bottom: 1em;
}

#iconLogo {
    vertical-align: middle;
}

/*----Link Styles----*/
nav ul li {
    list-style-type: none;
    display: inline;
}

a {
    color: #eee9e4;
    text-underline-offset: .2em;
}

a:visited {
    color: #eee9e4;
}

a:hover {
    color: #ffc402;
    text-shadow: 0.1em.1em #430F25;
    /* color:#fd0d71;*/
}