/*----Base Styles----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container,
header,
footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

body {
    margin: 0em 6.25em;
    color: #321b2a;
    background-color: #bcd5af;
    letter-spacing: 0.05em;
    font-size: 1.05em;
}

h2,
p {
    margin-bottom: 1em;
}

h2 {
    color: #bcd5af;
    text-align: center;
    text-shadow:
        1.5px 1.5px 0 #000,
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000;
}

hr {
    height: 1em;
}

h2,
hr {
    border: .07em #321b2a solid;
    border-radius: 5em;
    background-image: url('/web250/images/side.png');
    background-position: 180%;
    background-size: cover;
}

a,
a:visited {
    color: #38940a;
    text-decoration-color: #1C390D;
    text-underline-offset: .2em;
    font-size: 1.15em;
}

a:hover {
    color: #764382;
    text-shadow: 0 0 .3em #ba86e6;
}

/*----End of Base Styles----*/

/*----Header/Footer Nav Styles----*/
header>nav>ul,
footer>nav {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    list-style-type: none;
    padding-bottom: 1em;
}

#iconLogo {
    vertical-align: middle;
    margin-top: 1%;
    margin-right: 7.3%;
}

footer {
    text-align: center;
}

/*----End of Header/Nav Styles----*/

/*----Tagline Styles----*/
#tagline {
    font-style: italic;
    margin-left: 20.3%;
    margin-bottom: 1%;
}

/*----End of Tagline Styles----*/

/*----Introduction Styles----*/
figure {
    float: right;
    margin-left: 2%;
}

ul li ul li {
    margin-left: 5%;
}

/*----End of Introduction Styles----*/