body {
    font-family: monospace;
    background-color: bisque;
    text-align: center;
    margin: 0 auto;
    max-width: 65em;
}

h1 {
    font-size: 150%;
}

a:link {
    color: #B94527;
}

a:hover {
    color: #F8B45C;
    text-decoration: underline;
}