body {
    font-family: monospace;
    background-color: #e5c293;
    color: #393E41;
    text-align: center;
    margin: 0 auto;
    min-width: 27em;
    max-width: 159em;
    font-size: 1.2em;
}

#h1Main,
#h2Main,
#greeting,
a:link {
    letter-spacing: .08em;
}

#h1Main {
    margin: 1em auto .5em;
    font-size: 2em;
}

#h2Main,
#greeting {
    margin: .5em 8em .4em;
    padding: .4em;
    font-family: 'Courier New';
    font-size: 1.3em;
    background-color: #a17751;
    color: #f8b45c;
    text-shadow: .1em .1em .1em #393E41;
    border: .07em #393E41 solid;
    border-radius: 5em;
}

/*-------------link styles-------------*/
a:link {
    color: #795548;
    text-decoration: none;
}

a:visited {
    color: #795548;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #393E41;
}

header nav a:hover {
    color: #B94527;
    border: .22em solid #B94527;
    text-decoration: none;
}

/*-------------End link styles-------------*/

/*-------------header and footer styles-------------*/

header nav a {
    width: 9em;
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    border: .22em solid #795548;
    border-radius: 5em;
    background-color: #F8B45C;
    margin: .5em 0em .5em;
    padding: .3em;
}

footer nav hr {
    margin: 2em 5em;
    border: .15em solid #795548;
}

/*-------------End header and footer styles-------------*/
/*-------------web115 index styles-------------*/


div#indexParagraph1 {
    margin: 3em 7em;
    text-align: left;
}

/*-------------End web115 index styles-------------*/

/*-------------introduction styles-------------*/
figcaption.waterfallImg {
    font-style: italic;
    font-size: .9em;
}

ul#introList {
    text-align: left;
    margin: 3em 7em;
}

/*-------------End introduction styles-------------*/

/*-------------contract styles-------------*/
div#contractParagraph1 {
    margin: 3em 7em;
    text-align: left;
}

/*-------------End contract styles-------------*/

/*-------------m2 brand styles-------------*/
div#brandParagraph1 {
    margin: 3em 7em;
    text-align: left;
}

ul#colorsList {
    padding: 1em;
    display: flex;
}

ul#colorsList li {
    width: 100%;
    margin: .3em;
    font-size: 1.3em;
}

#brandTagline {
    font-size: 1.3em;
}

#couriernew {
    font-family: 'Courier New';
}

#monospace {
    font-family: monospace;
}

#colorsList {
    list-style: none;
}

#c-bgcolor {
    width: 7em;
    height: 7em;
    background-color: #E5C293;
    border: .3em solid #393E41;
}

#c-accent1 {
    width: 7em;
    height: 7em;
    background-color: #A17751;
    border: .3em solid #393E41;
}

#c-accent2 {
    width: 7em;
    height: 7em;
    background-color: #b94527;
    border: .3em solid #393E41;
}

#c-titles {
    width: 7em;
    height: 7em;
    background-color: #f8b45c;
    border: .3em solid #393E41;
}

#c-text {
    width: 7em;
    height: 7em;
    background-color: #393E41;
    border: .3em solid #f8b45c;
    color: #f8b45c;
}

/*-------------End m2 brand styles-------------*/

/*-------------fizzbuzz styles-------------*/
#fizzLegend {
    width: 33%;
    padding: .4em 0em;
    background-color: #B94527;
    color: #F8B45C;
    text-shadow: .1em .1em .1em #222425;
    font-size: 1.2em;
    font-weight: bold;
    border: #393E41 solid .2em;
}

div#loopColumns p:first-child {
    margin: 0;
}

div#loopColumns {
    margin: 2em;
    column-count: 3;
}

p#loopText {
    text-align: left;
    line-height: 2.5em;
}

/*-------------End fizzbuzz styles-------------*/