body {
    font-family: monospace;
    background-color: #e5c293;
    color: #393E41;
    text-align: center;
    margin: 0 auto;
    max-width: 65em;
    font-size: 1.2em;
}


h1 {
    font-family: 'Courier New';
    font-size: 2.3em;
    background-color: #a17751;
    color: #f8b45c;
    text-shadow: .1em .1em .1em #393E41;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

hr {
    height: .3em;
    background-color: #b94527;
}

li {
    font-size: 1.3em;
    display: inline-block;
}

footer {
    font-size: 1.2em;
}

a:link {
    color: #B94527;
    text-decoration: none;
}

a:visited {
    color: #795548;
    text-decoration: none;
}

a:hover {
    color: #F8B45C;
    text-shadow: .1em .1em .1em #393E41;
    text-decoration: underline;
}

.tagline {
    font-size: 1.3em;
}

.couriernew {
    font-family: 'Courier New';
}

.monospace {
    font-family: monospace;
}

.colorsList {
    list-style: none;
}


.c-bgcolor {
    width: 7em;
    height: 7em;
    background-color: #E5C293;
    border: .3em solid #393E41;
}

.c-accent1 {
    width: 7em;
    height: 7em;
    background-color: #A17751;
    border: .3em solid #393E41;
}

.c-accent2 {
    width: 7em;
    height: 7em;
    background-color: #b94527;
    border: .3em solid #393E41;
}

.c-titles {
    width: 7em;
    height: 7em;
    background-color: #f8b45c;
    border: .3em solid #393E41;
}

.c-text {
    width: 7em;
    height: 7em;
    background-color: #393E41;
    border: .3em solid #f8b45c;
    color: #f8b45c;
}

nav.menu {
    font-size: 1.1em;
}